/* Styles */


.main{width:1000px;
height:1200px;
background-color:#EAF6F6;
margin: 0 auto;
position:relative;}

.caption{
width:1000px;
height:80px;	
position:absolute;
top:0px;
left:0px;
color:darkgreen;
padding:20px;
text-align:center;
font-size:42px;
font-style:italic;
font-weight:bold;}
