/* Styles */


.main{
width:1000px;
height:1200px;
background-color:#EAF6F6;
margin: 0 auto;
position:relative;
}

.caption{
width:1000px;
height:80px;	
position:absolute;
top:0px;
left:0px;
color:darkgreen;
padding:20px;
text-align:center;
font-size:42px;
font-style:italic;
font-weight:bold;
}

.add_book{
width:960px;
height:50px;
position:absolute;
top:120px;
}

#add_new_book{
width:180px;
height:50px;
margin-left:430px;
font-size:20px;
color:white;
background-color:#FF0063;
border:none;
border-radius:10px;
cursor:pointer;
box-shadow:5px 5px 10px white;
}


#books{width:980px;
height:700px;
position:absolute;
top:250px;
left:0px;
}






